name: A workflow for WorldPopulation
on:
  push:
    branches:
      - master
      - develop
      - 'feature/*'
      - 'release/*'
  pull_request:
    branches:
      - develop


jobs:
  build:
    name: WorldPopulation Report
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Set up JDK 18
        uses: actions/setup-java@v4
        with:
          java-version: '18'
          distribution: 'adopt'
      - name: Build with Maven
        run: mvn package
      - name: Unit -B test
        run: mvn test
      - name: Run docker compose
        run: docker compose up --abort-on-container-exit



